:root {
  --color-primary: #ff5800;
  --color-primary-dark: #bf4200;
  --color-primary-light: #ffd5bf;
  --color-secondary: #14ccaf;
  --color-secondary-dark: #089782;
  --color-secondary-light: #befdf3;
  --color-tertiary: #008DFF;
  --color-tertiary-dark: #006ac0;
  --color-tertiary-light: #cce8ff;
  --color-dark: #333;
  --color-light: #fff;
  --color-text: #333;
  --color-text-light: #707070;
  --color-grey-200: #f2f2f2;
  --color-grey-400: #bfbfbf;
  --color-grey-600: #7f7f7f;
  --font-size: 16px;
  --border-radius: 8px;
  --wrapper-width: 1440px;
  --font-family-primary: "Poppins", sans-serif;
  --font-family-secondary: "Lato", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  line-height: 1.6;
  font-family: var(--font-family-secondary);
  font-size: var(--font-size);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 50px 0;
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-family-primary);
}

h2 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: .7rem;
}

p.description {
  font-size: 1.1rem;
  font-weight: 300;
}

@media screen and (min-width: 640px) {
  h2 {
    font-size: 1.7rem;
  }

  p.description {
    font-size: 1.2rem;
  }
}

strong {
  font-weight: 700;
}

.wrapper {
  margin-right: auto;
  margin-left:  auto;
  max-width: var(--wrapper-width);
  padding-right: 16px;
  padding-left: 16px;
}

@media screen and (min-width: 640px) {
  .wrapper {
    padding-right: 48px;
    padding-left: 48px;
  }
}

/* links */
.link {
  color: var(--color-primary);
  cursor: pointer;
  text-decoration: none;
}

.link:active,
.link:focus,
.link:hover:not([disabled]) {
  color: var(--color-primary-dark);
}

/** Nav links pipe separator */
.links-pipe li {
  border-left: solid 1px var(--color-grey-400);
  padding: 0 .5rem;
  margin: .3rem 0;
}

.links-pipe li:first-child{
  border-left: none;
  padding-left: 0;
}

.links-pipe li:last-child{
  padding-right: 0;
}

/* scrollbar */
body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: var(--color-grey-200);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
}
