$breakpoints : (
   "tablet": 640px,
   "laptop": 1024px,
   "desktop": 1280px
);

@mixin for-mobile {
  @media screen and (max-width: map-get($breakpoints, "tablet")) {
      @content;
  }
}

@mixin for-tablet {
  @media screen and (min-width: map-get($breakpoints, "tablet")) {
      @content;
  }
}

@mixin for-laptop {
  @media screen and (min-width: map-get($breakpoints, "laptop")) {
      @content;
  }
}

@mixin for-desktop {
  @media screen and (min-width: map-get($breakpoints, "desktop")) {
      @content;
  }
}

.show-tablet {
  display: none;

  @include for-tablet() {
    display: inherit;
  }
}

.show-laptop {
  display: none;

  @include for-laptop() {
    display: inherit;
  }
}

.show-desktop {
  display: none;

  @include for-desktop() {
    display: inherit;
  }
}
